<ion-view title="Amir Khusro" id="page8" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/yvPhD9S8TLWcDGk3qU6D_amir-khusro-urdu-poet.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="amirKhusro-button-bar1" class="button-bar">
      <button id="amirKhusro-button32" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="amirKhusro-heading3" style="color:#FFFFFF;font-weight:lighter;">About Amir Khusro</h3>
    <div class="list card" id="amirKhusro-card22">
      <div class="item item-body" id="amirKhusro-list-item-container3">
        <div id="amirKhusro-markdown17" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Amir Khusro was a Sufi poet who is regarded as the Father of Qawwali. He received a great education as a child and became a scholar of Arabic and Persian poetry. His poems are written in many verse forms including ghazal, masnavi, qata, rubai,
            do-baiti and tarkib-band. He played a significant role in the development of Culture and Music in India. He is responsible for the creation of Khayal Sangeet. In Khayal, he fused Persian and Indian Drupad Music to create Bada and Chota Khayal.
            The word Khayal comes from an Arabic word meaning Dream or Fantasy.</p>

          <p style="color:#000000;">Khusro was introduced to Sufism and music at an early age by his father. He was naturally gifted and began composing verses from the time when he was just eight. He was associated with the royal courts of more than seven rulers of the Delhi
            Sultanate. He composed many compositions for the Kings, including Arabic, Persian, Turkish, Hindi, and Punjabi compositions. Centuries after his death, his poetry is still sung today at Sufi shrines throughout Pakistan and India.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>