<ion-view title="Asavari" id="page23" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Kc6XQPxXQRCsSM7Krws6_asavari.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="asavari-button-bar17" class="button-bar"></div>
    <div class="list card" id="asavari-card215">
      <ion-item class="item-icon-left assertive" id="asavari-list-item40">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="asavari-heading18" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Asavari</h3>
    <div class="list card" id="asavari-card218">
      <div class="item item-body" id="asavari-list-item-container22">
        <div id="asavari-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raags in Thaat Asavari are mostly characterized by Komal Ga Komal Dha and Komal Ni. These Raags theoretically sound most beautiful between late night to morning. The most popular Raags in Thaat Asavari are Raag Jaunpuri, Raag Asavari and Raag
            Darbari-Kandra.</p>
        </div>
      </div>
    </div>
    <div id="asavari-button-bar18" class="button-bar">
      <a ui-sref="menu.raagAsavari()" id="asavari-button56" style="font-size:14px;" class="button button-assertive button-block">Raag Asavari</a>
      <a ui-sref="menu.raagDarbariKandra()" id="asavari-button57" style="font-size:12px;" class="button button-assertive button-block">Raag Darbari Kandra</a>
    </div>
  </ion-content>
</ion-view>