<ion-view title="Bansuri" id="page15" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/fxeUVTlfSyOHBLCt8lmt_bansuri.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="bansuri-button-bar7" class="button-bar">
      <button id="bansuri-button37" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="bansuri-heading9" style="color:#FFFFFF;font-weight:lighter;">About the Bansuri</h3>
    <div class="list card" id="bansuri-card27">
      <div class="item item-body" id="bansuri-list-item-container9">
        <div id="bansuri-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Bansuri is one of the oldest instruments in the Classical Music of India. Bansuri is more common to Northern India, whereas the Venu is more common to Southern India. The Bansuri is a Bamboo flute with 6 spaced out holes and one mouth hole.</p>

          <p style="color:#000000;">The Bansuri is the most prominent woodwind instrument in all of Indian Classical Music and has been very influential. Many musical maestros have devoted a large amount of time to playing the Bansuri. Some of the most famous Bansuri players are
            Pandit Hariprasad Chaurasia and Pandit Raghunath Seth.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>