<ion-view title="Bhairav" id="page24" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4pFrwXofQ06tsKLnnj7R_bhairava.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="bhairav-button-bar15" class="button-bar"></div>
    <div class="list card" id="bhairav-card219">
      <ion-item class="item-icon-left assertive" id="bhairav-list-item41">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="bhairav-heading19" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Bhairav</h3>
    <div class="list card" id="bhairav-card220">
      <div class="item item-body" id="bhairav-list-item-container19">
        <div id="bhairav-markdown40" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Bhairav is also considered a Basic Thaat. The most prominent feature of Raags in Thaat Bhairav are Komal Dha and Komal Re. These Raags are suitable for Early Morning and the Compositions are typically Devotional. The most popular Raags
            are Raag Bhairav and Raag Ramkali.</p>
        </div>
      </div>
    </div>
    <div id="bhairav-button-bar19" class="button-bar">
      <a ui-sref="menu.raagBhairav()" id="bhairav-button43" style="font-size:14px;" class="button button-assertive button-block">Raag Bhairav</a>
      <a ui-sref="menu.raagRamkali()" id="bhairav-button44" style="font-size:14px;" class="button button-assertive button-block">Raag Ramkali</a>
    </div>
  </ion-content>
</ion-view>