<ion-view title="Bilawal" id="page26" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/g55utfmSR0Gjy5pnm1Gg_bilaval.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="bilawal-button-bar22" class="button-bar"></div>
    <div class="list card" id="bilawal-card223">
      <ion-item class="item-icon-left assertive" id="bilawal-list-item43">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="bilawal-heading21" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Bilawal</h3>
    <div class="list card" id="bilawal-card224">
      <div class="item item-body" id="bilawal-list-item-container24">
        <div id="bilawal-markdown42" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Bilawal is considered the most basic Thaat. It only contains Shudda Surs. The most suitable time to sing a Raag in Thaat Bilawal is Early Morning. The most popular Raags are Raag Alhaiya Bilawal and Raag Bihag.</p>
        </div>
      </div>
    </div>
    <div id="bilawal-button-bar23" class="button-bar">
      <a ui-sref="menu.raagAlhaiyaBilawal()" id="bilawal-button47" style="font-size:11px;" class="button button-assertive button-block">Raag Alhaiya Bilawal</a>
      <a ui-sref="menu.raagBihag()" id="bilawal-button48" style="font-size:11px;" class="button button-assertive button-block">Raag Bihag</a>
    </div>
  </ion-content>
</ion-view>