<ion-view title="Famous Musicians" id="page2" style="background-color:#FFAC04;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.amirKhusro()" id="famousMusicians-button1" class="button button-balanced button-block icon-left ion-android-person">Ut. Amir Khusro</a>
    <a ui-sref="menu.shivkumarSharma()" id="famousMusicians-button2" class="button button-balanced button-block icon-left ion-android-person">Pt. Shiv Kumar Sharma</a>
    <a ui-sref="menu.tansen()" id="famousMusicians-button6" class="button button-balanced button-block icon-left ion-android-person">Ut. Tansen</a>
    <a ui-sref="menu.raviShankar()" id="famousMusicians-button8" class="button button-balanced button-block icon-left ion-android-person">Pt. Ravi Shankar</a>
    <a ui-sref="menu.zakirHussain()" id="famousMusicians-button9" class="button button-balanced button-block icon-left ion-android-person">Ut. Zakir Hussain</a>
    <a ui-sref="menu.vishwaMohanBhatt()" id="famousMusicians-button10" class="button button-balanced button-block icon-left ion-android-person">Pt. Vishwa Mohan Bhatt</a>
  </ion-content>
</ion-view>