<ion-view title="Harmonium" id="page16" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Dte7lPrQC6tCn6IBOxFA_harmonium2.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="harmonium-button-bar8" class="button-bar">
      <button id="harmonium-button38" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="harmonium-heading10" style="color:#FFFFFF;font-weight:lighter;">About the Harmonium</h3>
    <div class="list card" id="harmonium-card28">
      <div class="item item-body" id="harmonium-list-item-container10">
        <div id="harmonium-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Harmonium is the most vital instrument for a Classical Indian Singer. This helps the vocalist match his pitch to the proper tone. It is known more commonly as a Reed Organ or a Pump Organ. In the harmonium, is a vacuum of empty space. Air is
            pumped into this, and is released through different sized metal chutes. This creates the sound at a certain pitch.</p>

          <p style="color:#000000;">There is a controversy on the origin of the pump organ, but the most accepted idea is that it was created in England, during the mid-19th Century. It was designed to be used for various types of music. It has knobs on the front which allow you
            to change the octave, and plays like a piano with the key layout. Due to its versatility and harmonious sound, it is the main musical instrument for accompanying any performance.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>