<ion-view title="Home" id="page1" style="background-color:#C7FFFC;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/F2mHUxsUQ0GLDWmtoq5F_indian-music-licensing.jpg" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="home-heading1" style="color:#FA7B07;font-weight:600;text-align:center;">Welcome to the Classical Music of India! In this application you can explore the various aspects of the Classical Music indigenous to India</h3>
  </ion-content>
</ion-view>