<ion-view title="Instruments" id="page3" style="background-color:#4CE6F7;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.bansuri()" id="instruments-button11" class="button button-positive button-block icon-left ion-ios-musical-note">Bansuri</a>
    <a ui-sref="menu.harmonium()" id="instruments-button12" class="button button-positive button-block icon-left ion-ios-musical-note">Harmonium</a>
    <a ui-sref="menu.pakhawaj()" id="instruments-button13" class="button button-positive button-block icon-left ion-ios-musical-note">Pakhawaj</a>
    <a ui-sref="menu.sarangi()" id="instruments-button14" class="button button-positive button-block icon-left ion-ios-musical-note">Sarangi</a>
    <a ui-sref="menu.sitar()" id="instruments-button15" class="button button-positive button-block icon-left ion-ios-musical-note">Sitar</a>
    <a ui-sref="menu.tabla()" id="instruments-button16" class="button button-positive button-block icon-left ion-ios-musical-note">Tabla</a>
    <a ui-sref="menu.tanpura()" id="instruments-button17" class="button button-positive button-block icon-left ion-ios-musical-note">Tanpura</a>
    <a ui-sref="menu.veena()" id="instruments-button18" class="button button-positive button-block icon-left ion-ios-musical-note">Veena</a>
  </ion-content>
</ion-view>