<ion-view title="Kafi" id="page27" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/CTteSgTNTCZ7mc8qo1kA_kafi.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="kafi-button-bar24" class="button-bar"></div>
    <div class="list card" id="kafi-card225">
      <ion-item class="item-icon-left assertive" id="kafi-list-item44">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="kafi-heading22" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Kafi</h3>
    <div class="list card" id="kafi-card226">
      <div class="item item-body" id="kafi-list-item-container25">
        <div id="kafi-markdown43" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Kafi is one of the oldest Thaats in existence. It was a very popular ancient Thaat most suitable for the evening. The prominent characteristics are Komal Ga and Komal Ni. The most popular Raags are Raag Bageshri and Raag Bhimpalasi.</p>
        </div>
      </div>
    </div>
    <div id="kafi-button-bar25" class="button-bar">
      <a ui-sref="menu.raagBageshri()" id="kafi-button49" style="font-size:14px;" class="button button-assertive button-block">Raag Bageshri</a>
      <a ui-sref="menu.raagBhimpalasi()" id="kafi-button50" style="font-size:14px;" class="button button-assertive button-block">Raag Bhimpalasi</a>
    </div>
  </ion-content>
</ion-view>