<ion-view title="Khamaj" id="page29" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/jj0hunayT6GAdXkySuHD_khamaj.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="khamaj-button-bar28" class="button-bar"></div>
    <div class="list card" id="khamaj-card229">
      <ion-item class="item-icon-left assertive" id="khamaj-list-item46">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="khamaj-heading24" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Khamaj</h3>
    <div class="list card" id="khamaj-card230">
      <div class="item item-body" id="khamaj-list-item-container27">
        <div id="khamaj-markdown45" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Khamaj consists of Raags that are popular in Semi Classical compositions. In this Thaat, Komal Ni is the most prominent feature. Popular Raags in Thaat Khamaj are Raag Desh and Raag Tilak Kamod.</p>
        </div>
      </div>
    </div>
    <div id="khamaj-button-bar29" class="button-bar">
      <button id="khamaj-button55" style="font-size:14px;" class="button button-assertive button-block">Raag Desh</button>
      <a ui-sref="menu.raagTilakKamod()" id="khamaj-button58" style="font-size:14px;" class="button button-assertive button-block">Raag Tilak Kamod</a>
    </div>
  </ion-content>
</ion-view>