<ion-view title="Marwa" id="page32" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LPszb9K5TAq9bDTVCWvt_marava.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="marwa-button-bar34" class="button-bar"></div>
    <div class="list card" id="marwa-card235">
      <ion-item class="item-icon-left assertive" id="marwa-list-item49">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="marwa-heading27" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Marwa</h3>
    <div class="list card" id="marwa-card236">
      <div class="item item-body" id="marwa-list-item-container30">
        <div id="marwa-markdown48" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Marwa is primarily characterized by Komal Re and Tivra Ma. Raags in Thaat Marwa are suitable for Evening Time. The most popular Raags are Raag Marwa and Raag Puriya.</p>
        </div>
      </div>
    </div>
    <div id="marwa-button-bar35" class="button-bar">
      <a ui-sref="menu.raagMarwa()" id="marwa-button63" style="font-size:14px;" class="button button-assertive button-block">Raag Marwa</a>
      <a ui-sref="menu.raagPuriya()" id="marwa-button64" style="font-size:14px;" class="button button-assertive button-block">Raag Puriya</a>
    </div>
  </ion-content>
</ion-view>