<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar" id="menu-list-item1" ui-sref="menu.home()" menu-close="">
          <img src="img/B5a1l9PGRICZN6ty57NT_indian-music-licensing.jpg">
          <h2>Home</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item25" ui-sref="menu.famousMusicians()" menu-close="">
          <img src="img/bsU7tM73Q9ecLIBDKBdO_ak.jpg">
          <h2>Musicians</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item26" ui-sref="menu.instruments()" menu-close="">
          <img src="img/chvLyNySmyMZvROOTrgQ_tablii.png">
          <h2>Instruments</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item27" ui-sref="menu.swarSaptak()" menu-close="">
          <img src="img/H0fi6sjRqKlfoU6HpdAh_sitarplayter.jpg">
          <h2>Sur Saptak</h2>
        </ion-item>
        <ion-item class="item-avatar" id="menu-list-item28" ui-sref="menu.raagsAndThaats()" menu-close="">
          <img src="img/FgqDjGvR66K2BAPiajor_circleofthaats.jpg">
          <h2>Raags and Thaats</h2>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>