<ion-view title="Pakhawaj" id="page17" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5bTSRB9RpOxmfNdc3j4w_pakhwj.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="pakhawaj-button-bar9" class="button-bar">
      <button id="pakhawaj-button39" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="pakhawaj-heading11" style="color:#FFFFFF;font-weight:lighter;">About the Pakhawaj</h3>
    <div class="list card" id="pakhawaj-card29">
      <div class="item item-body" id="pakhawaj-list-item-container11">
        <div id="pakhawaj-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Pakhawaj was the original percussion instrument used for Indian Classical Music. It is said to be the mother of all Indian Drums. Along with it's musical history, it has many religious implications as well. It is said to be the musical instrument
            of Lord Ganesha.</p>

          <p style="color:#000000;">It looks very similar to the Mridangam, which is the most prominent percussion instrument of South India. The Pakhawaj is in a barrel shape and has 2 heads on the opposite sides. The bass side has a mixture of flour and water applied to it before
            use and the other side has a large black spot. The lacing is for tension and stability and the wooden cylinders are used to tune the Pakhawaj. It makes sounds such as "Tita Kata" and "Gadi Gana".</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>