<ion-view title="Purvi" id="page30" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/TiYLye9CS7ufxprLaecO_pooravi.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="purvi-button-bar30" class="button-bar"></div>
    <div class="list card" id="purvi-card231">
      <ion-item class="item-icon-left assertive" id="purvi-list-item47">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="purvi-heading25" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Purvi</h3>
    <div class="list card" id="purvi-card232">
      <div class="item item-body" id="purvi-list-item-container28">
        <div id="purvi-markdown46" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Purvi is characterized by combining Komal Re, Komal Da, and Tivra Ma. Compositions created in Raags sound best from Late Night to Early Morning. The Most popular Raags are Raag Puriya Dhanashree and Raag Basant.</p>
        </div>
      </div>
    </div>
    <div id="purvi-button-bar31" class="button-bar">
      <a ui-sref="menu.raagBasant()" id="purvi-button60" style="font-size:10px;" class="button button-assertive button-block">Raag Basant</a>
      <a ui-sref="menu.raagPuriyaDhanashree()" id="purvi-button59" style="font-size:10px;" class="button button-assertive button-block">Raag Puriya Dhanashree</a>
    </div>
  </ion-content>
</ion-view>