<ion-view title="Raags and Thaats" id="page5" style="background-color:#009CFD;">
  <ion-content padding="true" class="has-header">
    <button id="raagsAndThaats-button19" class="button button-energized button-block icon-left ion-music-note">What is a Thaat?</button>
    <a ui-sref="menu.asavari()" id="raagsAndThaats-button20" class="button button-energized button-block icon-left ion-music-note">Asavari</a>
    <a ui-sref="menu.bhairav()" id="raagsAndThaats-button22" class="button button-energized button-block icon-left ion-music-note">Bhairav</a>
    <a ui-sref="menu.bhairavi()" id="raagsAndThaats-button23" class="button button-energized button-block icon-left ion-music-note">Bhairavi</a>
    <a ui-sref="menu.bilawal()" id="raagsAndThaats-button21" class="button button-energized button-block icon-left ion-music-note">Bilawal </a>
    <a ui-sref="menu.kafi()" id="raagsAndThaats-button24" class="button button-energized button-block icon-left ion-music-note">Kafi</a>
    <a ui-sref="menu.kalyan()" id="raagsAndThaats-button25" class="button button-energized button-block icon-left ion-music-note">Kalyan</a>
    <a ui-sref="menu.khamaj()" id="raagsAndThaats-button26" class="button button-energized button-block icon-left ion-music-note">Khamaj</a>
    <a ui-sref="menu.marwa()" id="raagsAndThaats-button65" class="button button-energized button-block icon-left ion-music-note">Marwa</a>
    <a ui-sref="menu.purvi()" id="raagsAndThaats-button27" class="button button-energized button-block icon-left ion-music-note">Purvi</a>
    <a ui-sref="menu.todi()" id="raagsAndThaats-button28" class="button button-energized button-block icon-left ion-music-note">Todi</a>
  </ion-content>
</ion-view>