<ion-view title="Raag Tilak Kamod" id="page46" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video14=&quot;https://www.youtube.com/embed/lX-gSqGCdRY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagTilakKamod-video14">
      <iframe src="{{videourl_video14}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagTilakKamod-button-bar49" class="button-bar"></div>
    <h3 id="raagTilakKamod-heading41" style="color:#FFFFFF;font-weight:lighter;">About Raag Tilak Kamod</h3>
    <div class="list card" id="raagTilakKamod-card250">
      <div class="item item-body" id="raagTilakKamod-list-item-container42">
        <div id="raagTilakKamod-markdown62" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Tilak Kamod's Vadi Sur is Re and Samvadi Sur is Pa. There is controversy over whether Ga and Da are absent in the Aaroha or are just misplaced. Raag Tilak Kamod has all Suddha swars. The most suitable time for Tilak Kamod is 10pm - 1am.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Tilak Kamod include Wafa Jinse Ki by Mukesh from Pyar Ka Sagar(1961), Humne Tujhko Pyar Kiya by Mukesh from Dulha Dulhan(1964), and Teri Yaad Dil Se by Mukesh from Hariyali Aur Rasta(1962).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>