<ion-view title="Raag Multani" id="page50" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video18=&quot;https://www.youtube.com/embed/QkDhpr-46cs?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagMultani-video18">
      <iframe src="{{videourl_video18}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagMultani-button-bar53" class="button-bar"></div>
    <h3 id="raagMultani-heading45" style="color:#FFFFFF;font-weight:lighter;">About Raag Multani</h3>
    <div class="list card" id="raagMultani-card254">
      <div class="item item-body" id="raagMultani-list-item-container46">
        <div id="raagMultani-markdown66" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Multani's Vadi Sur is Pa and Samvadi Sur is Sa. Multani has Komal Re Komal Ga Komal Dha and Tivra Ma. Re and Da are absent in the Aaroha. The most suitable time for Multani is the 4th Part of the Day.</p>

          <p style="color:#000000;">Raag Multani is rarely used properly in Semi-Classical Compositions. There is only one pure example of Multani which is Lag Gayi Akhiyan by Lata Mangeshkar from Jeevan Jyoti(1953).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>