<ion-view title="Raag Bihag" id="page40" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video8=&quot;https://www.youtube.com/embed/udC3A2SBD4M?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagBihag-video8">
      <iframe src="{{videourl_video8}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagBihag-button-bar43" class="button-bar"></div>
    <h3 id="raagBihag-heading35" style="color:#FFFFFF;font-weight:lighter;">About Raag Bihag</h3>
    <div class="list card" id="raagBihag-card244">
      <div class="item item-body" id="raagBihag-list-item-container36">
        <div id="raagBihag-markdown56" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Bihag has both Tivra and Suddha Ma. The Vadi Sur is Ga and the Samvadi is Ni. Re and Dha are absent in the Aaroha. The most suitable time for Bihag is 10pm - 1am.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Bihag include Tere Sur Aur Mere Geet by Lata Mangeshkar and Mohd. Rafi from Goonj Uthi Shahanai(1959), Yeh Kya Jageh Hai Doston by Asha Bhonsle from Umrao Jaan(1981), and Zindagi Ke Safar Mein Gujar Jate Hain
            by Kishore Kumar from Aap Ki Kasam(1974).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>