<ion-view title="Raag Puriya Dhanashree" id="page49" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video17=&quot;https://www.youtube.com/embed/XU3eFkY1BTI?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagPuriyaDhanashree-video17">
      <iframe src="{{videourl_video17}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagPuriyaDhanashree-button-bar52" class="button-bar"></div>
    <h3 id="raagPuriyaDhanashree-heading44" style="color:#FFFFFF;font-weight:lighter;">About Raag Puriya Dhanashree</h3>
    <div class="list card" id="raagPuriyaDhanashree-card253">
      <div class="item item-body" id="raagPuriyaDhanashree-list-item-container45">
        <div id="raagPuriyaDhanashree-markdown65" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Puriya Dhanashree has Komal Re Komal Dha and Tivra Ma. Puriya Dhanashree's Vadi Sur is Sa and Samvadi Sur is Pa. The most suitable time for singing is the 4th Part of the Day. Raag Puriya Dhanashree has Komal Re Komal Dha and Tivra Ma.
            Raag Puriya Dhanashree's Vadi Sur is Sa and Samvadi Sur is Pa. The most suitable time for singing is the 4th Part of the Day.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Puriya Dhanashree include Tune Kya Kya Kiya Hai Hamare Liye by Asha Bhonsle from Prem Geet(1981), Tori Jay Jay Karatara by Amir Khan from Baiju Bawra(1952), Meri Saanson Ko Jo Mahaka Rahi Hai by Lata Mangeshkar
            and Mahendra Kapoor from Badalte Rishtey(1978) and more recently Mohe Rang Do Laal by Shreya Ghoshal from Bajirao Mastani(2015).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>