<ion-view title="Raag Bhairavi" id="page37" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/kpM0jPd6-7w?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagBhairavi-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagBhairavi-button-bar40" class="button-bar"></div>
    <h3 id="raagBhairavi-heading32" style="color:#FFFFFF;font-weight:lighter;">About Raag Bhairavi</h3>
    <div class="list card" id="raagBhairavi-card241">
      <div class="item item-body" id="raagBhairavi-list-item-container33">
        <div id="raagBhairavi-markdown53" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Bhairavi is an Ashray Raag. Bhairavi has all Komal Re Komal Ga Komal Dha and Komal Ni. Bhairavi's Vadi Sur is Ma and Samvadi Sur is Sa. The most suitable time for Bhairavi is 4am - 7am.</p>

          <p style="color:#000000;">Bhairavi is used heavily in Semi-Classical compositions. Therefore, there are many Popular Bollywood Songs in Raag Bhairavi. Some are Chingari Koi Bhadke by Kishore Kumar from Amar Prem(1972), Duniya Banane Wale by Mukesh from Teesri Kasam(1966),
            Chod Gaye Balam by Mukesh and Lata Mangeshkar from Barsaat(1949) and Pyar Hua Iqrar Hua by Manna Dey and Lata Mangeshkar from Shree 420(1955).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>