<ion-view title="Raag Malkauns" id="page38" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video6=&quot;https://www.youtube.com/embed/aasw1WDNhgY?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagMalkauns-video6">
      <iframe src="{{videourl_video6}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagMalkauns-button-bar41" class="button-bar"></div>
    <h3 id="raagMalkauns-heading33" style="color:#FFFFFF;font-weight:lighter;">About Raag Malkauns</h3>
    <div class="list card" id="raagMalkauns-card242">
      <div class="item item-body" id="raagMalkauns-list-item-container34">
        <div id="raagMalkauns-markdown54" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Malkauns has Komal Ga Komal Dha and Komal Ni. Malkauns' Vadi Sur is Ma and Samvadi Sur is Sa. Re and Pa are completely absent in Malkauns. The most suitable time for Malkauns is 1am - 4am.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Malkauns include Adha Hai Chandrama Raat Adhi by Mahendra Kapoor and Asha Bhonsle from Navrang(1959) and Ankiyana Sang Ankhiya Lagi Aaj by Mohd Rafi from Bada Aadmi(1961).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>