<ion-view title="Raag Yaman" id="page43" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video11=&quot;https://www.youtube.com/embed/eHdsoUE-aZ8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagYaman-video11">
      <iframe src="{{videourl_video11}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagYaman-button-bar46" class="button-bar"></div>
    <h3 id="raagYaman-heading38" style="color:#FFFFFF;font-weight:lighter;">About Raag Yaman</h3>
    <div class="list card" id="raagYaman-card247">
      <div class="item item-body" id="raagYaman-list-item-container39">
        <div id="raagYaman-markdown59" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Yaman's Vadi Sur is Ga and Samvadi Sur is Ni. Yaman has Tivra Ma and has no absent Surs. The most suitable time is 7pm - 10pm.</p>

          <p style="color:#000000;">Raag Yaman is extremely popular for Semi-Classical Compositions. The use of Tivra Ma with the Ni and Re sounds beautiful and is very easy to use in Semi-Classical Compositions. Therefore there is an abundance of Popular Bollywood Songs in Raag
            Yaman. Some are Din Dhal Jaaye by Mohd Rafi from Guide(1965), Ehsaan Tera Hoga Mujh Par by Lata Mangeshkar and Mohd Rafi from Junglee(1961), Zindagi Bhar Nahin Bulegi by Mohd Rafi and Lata Mangeshkar from Barsat Ki Raat(1960), Abhi Na Jaao
            Chod Kar by Lata Mangeshkar and Mohd Rafi from Hum Dono(1961), and Woh Shaam Kuch Ajeeb Thi by Kishore Kumar from Khamoshi(1969).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>