<ion-view title="Raag Bhairav" id="page35" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video3=&quot;https://www.youtube.com/embed/Vsxun4s9l-8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagBhairav-video3">
      <iframe src="{{videourl_video3}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagBhairav-button-bar38" class="button-bar"></div>
    <h3 id="raagBhairav-heading30" style="color:#FFFFFF;font-weight:lighter;">About Raag Bhairav</h3>
    <div class="list card" id="raagBhairav-card239">
      <div class="item item-body" id="raagBhairav-list-item-container31">
        <div id="raagBhairav-markdown51" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Bhairav is an Ashray Raag. Bhairav has Komal Re and Komal Dha. Bhairav's Vadi Sur is Komal Dha and Samvadi Sur is Komal Re. The most suitable time for Raag Bhairav is 4am - 7am.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Bhairav are Mohe Bhul Gaye Saawariya by Lata Mangeshkar from Baiju Bawra(1952), Man Re Hari Ke Gun Ga by Lata Mangeshkar from Musafir(1957), and Jaago Mohan Pyare Jaago by Lata Mangeshkar from Jagte Raho(1956).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>