<ion-view title="Raag Bageshri" id="page41" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video9=&quot;https://www.youtube.com/embed/Mm21SSgUHe8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagBageshri-video9">
      <iframe src="{{videourl_video9}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagBageshri-button-bar44" class="button-bar"></div>
    <h3 id="raagBageshri-heading36" style="color:#FFFFFF;font-weight:lighter;">About Raag Bageshri</h3>
    <div class="list card" id="raagBageshri-card245">
      <div class="item item-body" id="raagBageshri-list-item-container37">
        <div id="raagBageshri-markdown57" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Bageshri's Vadi Sur is Ma and Samvadi Sur is Sa. Re is absent in the Aaroha and Pa is completely absent. Bageshri has Komal Ga and Komal Ni. The most suitable time for Bageshri is 10am - 1pm.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Bageshri include Aaja Re, Pardesi by Lata Mangeshkar from Madumati(1958), Radha Na Bole Na Bole by Lata Mangeshkar from Azad(1955) and Ghadi Ghadi Mora Dil Dadke by Lata Mangeshkar from Madumati(1958).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>