<ion-view title="Raag Alhaiya Bilawal" id="page39" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video7=&quot;https://www.youtube.com/embed/Fxl6gXbuHjw?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagAlhaiyaBilawal-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagAlhaiyaBilawal-button-bar42" class="button-bar"></div>
    <h3 id="raagAlhaiyaBilawal-heading34" style="color:#FFFFFF;font-weight:lighter;">About Raag Alhaiya Bilawal</h3>
    <div class="list card" id="raagAlhaiyaBilawal-card243">
      <div class="item item-body" id="raagAlhaiyaBilawal-list-item-container35">
        <div id="raagAlhaiyaBilawal-markdown55" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Alhaiya Bilawal's Vadi Sur is Dha and Samvadi Sur is Ga. Alhaiya Bilawal closely adheres to Bilawal Thaat rules, however in the Avroha, there is a slight use of Komal Ni. The most suitable time for Alhaiya Bilawal is 10am - 1pm.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Alhaiya Bilawal include Bhor Aayi Gaya Andhiara by Manna Dey from Bawarchi(1972), Sare Ke Sare Ga Ma Ko Lekar by Kishore Kumar and Asha Bhonsle. The Indian National Anthem, Jana Gana Mana, is also based off of
            Alhaiya Bilawal.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>