<ion-view title="Raag Gujri Todi" id="page51" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video19=&quot;https://www.youtube.com/embed/IZvXDQLLiSE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagGujriTodi-video19">
      <iframe src="{{videourl_video19}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagGujriTodi-button-bar54" class="button-bar"></div>
    <h3 id="raagGujriTodi-heading46" style="color:#FFFFFF;font-weight:lighter;">About Raag Gujri Todi</h3>
    <div class="list card" id="raagGujriTodi-card255">
      <div class="item item-body" id="raagGujriTodi-list-item-container47">
        <div id="raagGujriTodi-markdown67" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Gujri Todi has Komal Re Komal Ga and Komal Dha. Pa is completely absent in Gujri Todi. The Vadi Sur is Dha and the Samvadi Sur is Ga. The most sutiable time for Gujri Todi is the 4pm - 7pm.</p>

          <p style="color:#000000;">Gujri Todi is not very popular in Bollywood Songs due to its nature. There a few examples of Gujri Todi, Ja-Ja Re Aye Pathikwa by Lata and Hridaynath Mangeshkar from Lekin(1991) and Watan Pe Jo Fida Hoga by Mohd Rafi from Phool Bane Angare(1963).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>