<ion-view title="Raag Kedar" id="page44" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video12=&quot;https://www.youtube.com/embed/DaeiwBG_DbE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagKedar-video12">
      <iframe src="{{videourl_video12}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagKedar-button-bar47" class="button-bar"></div>
    <h3 id="raagKedar-heading39" style="color:#FFFFFF;font-weight:lighter;">About Raag Kedar</h3>
    <div class="list card" id="raagKedar-card248">
      <div class="item item-body" id="raagKedar-list-item-container40">
        <div id="raagKedar-markdown60" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Kedar's Vadi Sur is Sa and Samvadi Sur is Ma. Re is absent in the Aaroha of Kedar and Ga is completely absent. Kedar has both Tivra and Suddha Ma. The most suitable time for Kedar is 7pm - 10pm.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Kedar include Aap Ki Aanko Mein Kuch Mehake Huye Se Raaz Hai by Kishore Kumar and Lata Mangeshkar from Ghar(1978), Bekas Pe Karam Kijiye by Lata Mangeshkar from Mughal-E-Azam(1960), and Kisi Ki Yaad Mein by Mohd
            Rafi from Jahanara(1964).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>