<ion-view title="Raag Darbari Kandra" id="page34" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/NvUnrUB-8Xo?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagDarbariKandra-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagDarbariKandra-button-bar37" class="button-bar"></div>
    <h3 id="raagDarbariKandra-heading29" style="color:#FFFFFF;font-weight:lighter;">About Raag Darbari Kandra</h3>
    <div class="list card" id="raagDarbariKandra-card238">
      <div class="item item-body" id="raagDarbariKandra-list-item-container18">
        <div id="raagDarbariKandra-markdown50" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Darbari Kandra has Komal Ga Komal Dha and Komal Ni. The Vadi Sur is Re and the Samvadi is Pa. Da is absent in the Avroha and the most suitable time to sing Darbari-Kandra is midnight.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Darbari Kandra include Jhanak Jhanak Tori Baje Payaliya by Manna Dey from Mere Huzoor(1968), Tere Dar Pe Aaya Hoon by Mohd Rafi from Laila Majnu(1976), Tu Pyar Ka Sagar Hain by Manna Dey from Seema(1955).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>