<ion-view title="Raag Asavari" id="page33" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/zpBGp-n_PM8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagAsavari-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagAsavari-button-bar36" class="button-bar"></div>
    <h3 id="raagAsavari-heading28" style="color:#FFFFFF;font-weight:lighter;">About Raag Asavari</h3>
    <div class="list card" id="raagAsavari-card237">
      <div class="item item-body" id="raagAsavari-list-item-container17">
        <div id="raagAsavari-markdown49" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Asavari is an Ashray Raag, this means it has the same name as the Thaat it is from and it adheres most closely to the Thaat Rules. Asavari has Komal Ga Komal Dha and Komal Ni. Ga and Ni are absent in Aaroha(ascending order). All notes are
            present in Avroha(descending order). The most suitable time to sing Asavari is 10am - 1pm. The Vadi(Most Prominent) Sur is Komal Dha, the Samvadi(Second Most Prominent) Sur is Komal Ni.</p>

          <p style="color:#000000;">Popular Bollywood Songs in Raag Asavari are Chale Jana Nahin Naina Milake by Lata Mangeshkar from Badi Bahen(1949),Jadoo Teri Nazar by Udit Narayan from Darr(1993) and Lo Aa Gayi Unki Yaad by Lata Mangeshkar from Do Badan(1966).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>