<ion-view title="Raag Marwa" id="page52" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video20=&quot;https://www.youtube.com/embed/JOtrGK1JlA0?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="raagMarwa-video20">
      <iframe src="{{videourl_video20}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="raagMarwa-button-bar55" class="button-bar"></div>
    <h3 id="raagMarwa-heading47" style="color:#FFFFFF;font-weight:lighter;">About Raag Marwa</h3>
    <div class="list card" id="raagMarwa-card256">
      <div class="item item-body" id="raagMarwa-list-item-container48">
        <div id="raagMarwa-markdown68" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Raag Marwa is an Ashray Raag. Marwa's Vadi Sur is Re and Samvadi Sur is Dha. Pa is completely absent in Marwa. Marwa contains Komal Re and Tivra Ma. The most suitable time for Marwa is the 4th Part of the Day.</p>

          <p style="color:#000000;">Raag Marwa is rarely used properly in Semi-Classical Compositions. There is only one pure example of Marwa which is Payeliya Banvari by Lata Mangeshkar from Saaz Aur Awaaz(1966).</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>