<ion-view title="Ravi Shankar" id="page12" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/KF3dMFp9RcqdCDpk22ra_rs.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="raviShankar-button-bar4" class="button-bar">
      <button id="raviShankar-button31" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="raviShankar-heading6" style="color:#FFFFFF;font-weight:lighter;">About Ravi Shankar</h3>
    <div class="list card" id="raviShankar-card24">
      <div class="item item-body" id="raviShankar-list-item-container6">
        <div id="raviShankar-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"> Pandit Ravi Shankar was born on April 7th, 1920 in Varanasi, India. His older brother, Uday Shankar had a classical Indian Dance Troupe. When he was just a teenager, he played Sitar for his brother's Dance Troupe with Anna Pavlova. In 1938,
            he studied under his guru, Allaudin Khan.n the year 1939, Ravi Shankar gave his first public performance in India. His formal training concluded in the year 1944 and he moved out of Bombay. He then started a recording career with HMV's Indian
            affiliate and began by composing scores for films and ballets. In the 50's he became the music director of All India Radio.</p>

          <p style="color:#000000;">It was during the 50's that he became famous in the world of music outside India. He performed in Soviet Union (1953) and the West (1956). He has performed in prestigious events like Edinburgh Festival and also at important places like Royal
            Festival Hall, London.</p>

          <p style="color:#000000;">In 1965, George Harrison of The Beatles tried the Sitar. He started to learn from Pandit Ravi Shankar, and they really good friends. Ravi Shankar's career got a huge boost as he was Harrison's mentor. He showcased his skills at the Monterey
            Pop Festival(1967) with tabla maestro Ustad Allah Rakha. Ravi Shankar also opened for Harrison's U.S tour in 1974</p>

          <p style="color:#000000;">Ravi Shankar has composed two symphony masterpieces for Sitar and orchestra; Violin and Sitar composition for Yehudi Menuhin. He has also won 5 Grammy Awards, including one for Lifetime Achievement and another for Best World Music Album. He
            passed away on December 11th, 2012. He will forever be remembered as the most famous Indian Classical Musician."</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>