<ion-view title="Sarangi" id="page18" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NYKMTV5TQyZzhDp7OfYn_sarangi.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sarangi-button-bar10" class="button-bar">
      <button id="sarangi-button40" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="sarangi-heading12" style="color:#FFFFFF;font-weight:lighter;">About the Sarangi</h3>
    <div class="list card" id="sarangi-card210">
      <div class="item item-body" id="sarangi-list-item-container12">
        <div id="sarangi-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Sarangi is one of the most versatile instruments in Classical Indian Music. It is a bowed instrument and modeled to resemble singing and Vocal ornaments. It originates from Rajasthan and is carved from a single piece of Tun Wood.</p>

          <p style="color:#000000;">Sarangi is composed of 3 main strings, up to 35 sympathetic strings, and a bridge. There are many tuning pegs along the side for broad and fine tuning. The finger board is in the middle, near the pegs. The bowing area is close to bridge, the
            bow is made of horse hair. Some of the most famous Sarangi players are Ustad Sultan Khan and Pandit Gopal Mishra.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>