<ion-view title="Shivkumar Sharma" id="page10" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/fyVoJpM1SkOOeSmnlO8b_sks.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="shivkumarSharma-button-bar2" class="button-bar">
      <button id="shivkumarSharma-button29" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="shivkumarSharma-heading4" style="color:#FFFFFF;font-weight:lighter;">About Shivkumar Sharma</h3>
    <div class="list card" id="shivkumarSharma-card21">
      <div class="item item-body" id="shivkumarSharma-list-item-container4">
        <div id="shivkumarSharma-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Shivkumar Sharma was born on 13th January, 1938 in Jammu, India. He was introduced to the Santoor by his father and teacher, Pandit Uma Dutt Sharma. He was renowned player of the instrument and also a vocalist. He was a disciple of Pandit Bade
            Ramdasji of Banaras. Shivkumar Sharma learnt the tabla and also vocal singing before dedicating himself to learn the Santoor exclusively.</p>

          <p style="color:#000000;">Shivkumar Sharma modified the folk instrument to make it suitable for classical music. He increased its range to three octaves and also created a technique for smoother gliding notes. Shivkumar Sharma also created a new way of playing it so
            that the notes and sound continuity could be maintained for a long time.</p>

          <p style="color:#000000;">Shivkumar Sharma is the recipient of many prestigious awards like Padmashree, Padma Vibhushan, Sangeet Natak Academy Award, Honorary Doctorate from the University of Jammu, Ustad Hafiz Ali Khan Award, Maharashtra Gaurav Puraskar. His Santoor
            recitals shall keep listeners mesmerized for many more years to come."</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>