<ion-view title="Sitar" id="page19" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cSFM7FF4TjmCPBuxnC2T_Sitar_HirenRoy2__15091.1425505305.350.350.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="sitar-button-bar11" class="button-bar">
      <button id="sitar-button41" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="sitar-heading13" style="color:#FFFFFF;font-weight:lighter;">About the Sitar</h3>
    <div class="list card" id="sitar-card211">
      <div class="item item-body" id="sitar-list-item-container13">
        <div id="sitar-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Sitar is the most famous Classical Indian Instrument. It is very well known due to the work of maestros like Ravi Shankar. It is composed of many curved and movable frets, 7 main strings, 12-13 sympathetic strings, a large bridge for the main
            strings, and a small bridge for the sympathetic strings. The large rounded parts are known as Toombas.</p>

          <p style="color:#000000;">Toombas are generally made of dried and hollowed gourds that are encased in wood, the most common gourd is Pumpkin. These help create a resonating sound from plucking the brass strings. There are 3 different types of Sitar's. The most common
            is the Kharaj Pancham(below) used by Pt. Ravi Shankar. This has 2 resonator boxes, 7 main strings, and 13 sympathetic strings.</p>

          <p style="color:#000000;">The 2nd type of Sitar is the Gandhar Pancham, with one resonant box, 11 sympathetic strings, and 7 main strings. This was mainly used by Ustad Vilayat Khan. The 3rd type is the Flat Sitar. In this, the Toomba is not rounded like in the other
            two, the Toomba is flattened to create a flat space on the back. Despite the differences, all the Sitars are typically played by laying the Toomba on the floor and balancing the neck across a leg to play with both hands.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>