<ion-view title="Swar Saptak" id="page4" style="background-color:#4AFD27;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5JUrJytR9OszhPkysj8H_Harmonium-Saptak-WithKomalTeevra.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="swarSaptak-card216">
      <div class="item item-body" id="swarSaptak-list-item-container20">
        <div id="swarSaptak-markdown35" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Swars are the basic notes of Indian Classical Music. This includes Sadaj, Rishab, Gandharva, Madhayam, Pancham, Dhaiwat, and Nishad. Since it is difficult to sing these swaras as whole words, they are shortened to the better known Sa, Re, Ga,
            Ma, Pa, Da, and Ni. Saptak is the series of the seven main notes or Swars. This is similar to an Octave in Western Music, but only 7 notes are present in this, as opposed to 8 in an octave. The difference occurs as the base note is repeated
            in an octave, and a Saptak only counts Sa to Ni, not the repetition of Sa to start the next Saptak.</p>

          <p style="color:#000000;">In Bhatkhande Paddati, or notation system, a note of the Madhya Saptak is depicted just by writing the Swar itself. If the note is in the Mandra Saptak, or lower octave, it is depicted with a dot below the Swar. A note in the Tar Saptak, or
            the higher octave, is depicted with a dot above the Swar. These apply to both Basic and Vikrit Swars.</p>

          <p style="color:#000000;">Vikrit Swars ars Swars that aren't the same pitch as the Basic Swars. They are split into Komal and Tivra. Komal Swars are flat notes, or notes that are a half-note lower than their namesake. These notes are denoted by being underlined, only
            Re, Ga, Da, and Ni can be Komal as there are no Enharmonics in Indian Classical Music. Tivra Swars are Sharp notes. This means they are a half-note above their namesake. These are identified with a Vertical Line above the Swar.</p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="swarSaptak-list-item36">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
  </ion-content>
</ion-view>