<ion-view title="Tabla" id="page9" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/upsQ8kZRFOC5B8ycG1Kk_tabla.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="tabla-button-bar12" class="button-bar">
      <button id="tabla-button33" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="tabla-heading14" style="color:#FFFFFF;font-weight:lighter;">About the Tabla</h3>
    <div class="list card" id="tabla-card212">
      <div class="item item-body" id="tabla-list-item-container14">
        <div id="tabla-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Tabla is the most prominent percussion instrument in the Classical Music of India. The Tabla is a two-piece drum that provides most of the basic Taals(Rhythms) for Classical Indian compositions. The larger Tabla piece is called the Baya
            and the smaller one is called the Daya. The Daya provides a sharper sound, whereas the Baya provides a deeper bass sound.</p>

          <p style="color:#000000;">Tablas are believed to have been created by the great Amir Khusro. It is said that one day when he was playing the Pakhawaj, he threw the Pakhawaj on the floor in a fit of anger. The Pakhawaj broke into 2 lobsided pieces, he picked the pieces
            up and continue to play them on his lap. This is why it is similar to the design of the Pakhawaj, the same tension on the top, black spots, leather lacings and wooden pieces for tuning.</p>

          <p style="color:#000000;">Unlike the Pakhawaj, the Tabla makes noises such as 'Ta' and 'Tin', when combined with the bass of the Baya, these noises become 'Dha' and 'Dhin'. This is due to the modularization of the Pakhawaj to a Tabla and also because of the composition
            of the pieces. The Daya is generally some type of wood, whereas the Baya is generally Copper or Steel. Some of the most famous Tabla Players are Ustad Zakir Hussain and his father Ustad Allah Rakha.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>