<ion-view title="Tanpura" id="page20" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kObeGweTwCmUZSRZ7yGH_TANPURA.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="tanpura-button-bar13" class="button-bar">
      <button id="tanpura-button34" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="tanpura-heading15" style="color:#FFFFFF;font-weight:lighter;">About the Tanpura</h3>
    <div class="list card" id="tanpura-card213">
      <div class="item item-body" id="tanpura-list-item-container15">
        <div id="tanpura-markdown29" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Tanpura comes from the family of lute instruments. It is also referred to as the "Tambura" in Southern India. Tanpuras are generally made of Jackwood and has only 4 strings along with a resonator. The tuning pegs at the top allow a fine
            and broad tuning of the strings. The strings pass over an ivory bridge and have silk threads attached to create a vibrating buzz sound, this is one of the trademarks of the Tanpura's tonal quality.</p>

          <p style="color:#000000;">Due to size differences, larger Tanpuras are known as Male Tanpuras and smaller ones are Female Tanpuras. There are 3 different styles, Miraj, Tanjore, and Tamburi. These differ in size, region, and design.</p>

          <p style="color:#000000;">Miraj Tanpuras are used in Northern India, they are a bit bigger than normal and have a non-tapered neck. Tanjore style is used in South India, it has a tapered neck and a flat front plate. Tamburi Tanpuras are smaller than Miraj Tanpuras. These
            can have more strings and are played differently, this can make it more versatile for musical performances.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>