<ion-view title="Tansen" id="page11" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/FI6pPxqYQ4ai6Kcc3NbQ_tansen.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="tansen-button-bar3" class="button-bar">
      <button id="tansen-button30" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="tansen-heading5" style="color:#FFFFFF;font-weight:lighter;">About Tansen</h3>
    <div class="list card" id="tansen-card23">
      <div class="item item-body" id="tansen-list-item-container5">
        <div id="tansen-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Tansen was born Tanna Mishra in 1506 in Gwalior. He was known to be a spoilt and mischievous boy. One day, he was trying to scare travelers in the forest by making Tiger noises. Swami Haridas was walking by and he heard Tanna make the noise.
            He saw the little boy and immediately recognized his vocal talent. He approached Tanna's father to keep Tanna as one of his students.</p>

          <p style="color:#000000;">Tanna learned for many years by living with Swami Haridas. Royalty recognized his talent and He first served as a court musician of the King Ramchandra of Mewa and then become of the Navratan of emperor Akbar. He was given the title of Miyan
            by Akbar and thus came to be Miyan Tansen. Though born in a Hindu family Tansen embraced Islam in his later life as he was born as the result of the blessing of a Muslim Beggar, Mohammad Gauns.</p>

          <p style="color:#000000;">He is said to have no equals in music and it is believed that he had performed miracles through his music. He is supposed to had the ability of creating rain by singing Raag Megh and creating fire by singing Raag Deepak. He is the composer of
            many ragas such as Durbari Kandra, Miyan Todi, Miyan Malhar and Miyan Sarang. He is also said to be creator of the famous Dhrupad style of singing. He wrote two scriptures on music, called Sangeeta Sara and Rajmala. These books are the cornerstones
            of the Classical Music of India.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>