<ion-view title="Todi" id="page31" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/41nzF5RSQF24lx18wMXQ_todi2.gif" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="todi-button-bar32" class="button-bar"></div>
    <div class="list card" id="todi-card233">
      <ion-item class="item-icon-left assertive" id="todi-list-item48">
        <i class="icon ion-music-note"></i>Play Song</ion-item>
    </div>
    <h3 id="todi-heading26" style="color:#FFFFFF;font-weight:lighter;">About the Thaat Todi</h3>
    <div class="list card" id="todi-card234">
      <div class="item item-body" id="todi-list-item-container29">
        <div id="todi-markdown47" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat Todi is characterized by Komal Re Komal Ga Komal Da and Tivra Ma. These Raags are performed mostly in the morning time. The most popular Raags in Thaat Todi are Raag Multani and Raag Gujri Todi.</p>
        </div>
      </div>
    </div>
    <div id="todi-button-bar33" class="button-bar">
      <a ui-sref="menu.raagMultani()" id="todi-button61" style="font-size:14px;" class="button button-assertive button-block">Raag Multani</a>
      <a ui-sref="menu.raagGujriTodi()" id="todi-button62" style="font-size:14px;" class="button button-assertive button-block">Raag Gujri Todi</a>
    </div>
  </ion-content>
</ion-view>