<ion-view title="Veena" id="page21" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/3XfSoAJ0SYytOiwRh1Dp_veena2.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="veena-button-bar14" class="button-bar">
      <button id="veena-button42" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="veena-heading16" style="color:#FFFFFF;font-weight:lighter;">About the Veena</h3>
    <div class="list card" id="veena-card214">
      <div class="item item-body" id="veena-list-item-container16">
        <div id="veena-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Veena is suppoesedly the oldest Classical Indian Instrument. It is said to have been created during the Vedic Ages. Through many altercations, it is composed of a large wooden frame, with a resonator, 24 frets, and seven strings. The round
            part on the bottom of the Veena with bridges is made of a gourd. This gourd is hollowed, dried, then encased in wood to make the shape of the Veena.</p>

          <p style="color:#000000;">There are many different types of Veenas. The most prominent types are the Mahantaka Veena, Rudra Veena, and Saraswati Veena. The Saraswati Veena is considered the Queen of all Veenas, as it is the most harmonious. Pandit Vishwa Mohan Bhatt
            is one of the most famous Veena artists, he has altered the design of a Hawaiian Guitar to create his own Mohan Veena.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>