<ion-view title="Vishwa Mohan Bhatt" id="page14" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/SkUcorDgTmCHfPbhnuTh_jpeg.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="vishwaMohanBhatt-button-bar6" class="button-bar">
      <button id="vishwaMohanBhatt-button36" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="vishwaMohanBhatt-heading8" style="color:#FFFFFF;font-weight:lighter;">About Vishwa Mohan Bhatt</h3>
    <div class="list card" id="vishwaMohanBhatt-card26">
      <div class="item item-body" id="vishwaMohanBhatt-list-item-container8">
        <div id="vishwaMohanBhatt-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Write hEre</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>