<ion-view title="What Is a Thaat?" id="page22" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/XA8gf16TvOXxFDoRGiby_thaat.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="whatIsAThaat-button-bar16" class="button-bar">
      <button id="whatIsAThaat-button51" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="whatIsAThaat-heading17" style="color:#FFFFFF;font-weight:lighter;">About the Thaat System</h3>
    <div class="list card" id="whatIsAThaat-card217">
      <div class="item item-body" id="whatIsAThaat-list-item-container21">
        <div id="whatIsAThaat-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Thaat is the basic structure for all Indian Classical Music. A Thaat is comprised of all 7 basic Swaras that are collected to make a Raag. Each Thaat differs in the the use of Komal(Flat) or Tivra(Sharp) Swaras, and the nature of singing in
            the Thaat.</p>

          <p style="color:#000000;">Pandit Venkatmakhi theorized that is it possible to have 72 Thaat by counting the various combinations of Komal and Tivra swaras. Of these 72 Thaats, Pt. Vishnu Narayan Bhatkande chose 10 of the most inclusive Thaats and created a basic structure
            of them. Those Thaats are Asavari, Bhairav, Bhairavi, Bilawal, Kafi, Kalyan, Khamaj, Marwa, Purvi, Todi.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>