<ion-view title="Zakir Hussain" id="page13" style="background-color:#85B6EE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/eUu5DZURqWtPlxa7OCpa_zh.jpg" style="display: block; width: 98%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="zakirHussain-button-bar5" class="button-bar">
      <button id="zakirHussain-button35" class="button button-positive button-block">Song 1</button>
    </div>
    <h3 id="zakirHussain-heading7" style="color:#FFFFFF;font-weight:lighter;">About Zakir Hussain</h3>
    <div class="list card" id="zakirHussain-card25">
      <div class="item item-body" id="zakirHussain-list-item-container7">
        <div id="zakirHussain-markdown21" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ustad Zakir Hussain is the son of the tabla maestro Ustad Allah Rakha. He was born on March 9th, 1951 and started studying when he was very young. He was a famous child prodigy and began touring when he was 12. He became very famous by perform
            at concerts all around India. He began international tours when he was just 20.</p>

          <p style="color:#000000;">Zakir Hussain has performed with amazing musicians worldwide. Due to his experience, he became a famous international phenomenon. He has also composed music for many English movies and with many English musical groups.</p>

          <p style="color:#000000;">Perhaps his most famous collaboration was with The Beatles, where he created many Fusion tracks that were popular all over the world. Zakhir Hussain released his first solo album in 1987. It was called Making Music and is considered the best
            East-West fusion album ever. He was awarded the Padma Shree in 1988, thus making him the youngest percussionist to ever receive this award.</p>

          <p style="color:#000000;">Zakir Hussain also received the National Heritage Fellowship (1999), this is the most prestigious honor for a master in traditional arts. He was honored with Sangeet Natak Academy Award in 1991. Possibly his best achievement is the Grammy he
            received for Planet Drum. Zakir Hussain is one of the greatest Percussionists of all time and has changed not only Indian Classical Music, but also Music Worldwide."</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>